body, html{
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    margin:0;
    font-size: 2vw;
    color:#4C4C4C;
    font-family: 'Droid Sans', sans-serif;

    
}

.heropage{
    width:100vw;
    height:100vh;
    background-color: #00CCCD;
    background-image: url("../images/heroimage.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom center;

    
}

.banner{
    width:100%;
      display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;

}

.logo{
    top:20px;
    left:20px;
    position:absolute;
    width:12vw;
    min-width:180px;
}

.herotxt{    
    margin-top:20vh;
    width:50vw;
    text-align: left;
    color: white;
} 

h1{
    font-weight:400; 
}

.herodes{
    margin-top: .5vw;
    width:67vw;
    text-align: left;
    color: white;

    font-weight:400;
    font-size: 1.7vw;
} 


.form {
    margin-top:3vw;
    width:50vw;
display: flex;
align-items: center;
    justify-content: center;
    
}


.input[type="text"] {
    width:60%;
    border-radius: 0.3vw;
    height: 2.5vw;
    background: #fff;
    border-width: 0;  
    color:#4C4C4C;

}

.gap{
    width:60px;
    height:20px;
}


.form input {
    font-size: 1.6vw;
    outline: none;
    height: 3vw;
    width:100%;
    border: 0;
    vertical-align: top;
    padding:5px;
    padding-left: 15px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ccc;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ccc;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ccc;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #ccc;
}

.button{
    background-color: #4C4C4C;
    color:#fff;    
}

.button_scrollup{
    position: absolute;
    bottom:50px;
    width:60px;
}

.usppage{
    position:absolute;
    top:100vh;
    background-color:white;
    width:100vw;
    height:100vh;  
display: flex;
    flex-direction: column;
align-items: center;
    justify-content: center;

}

.usptxt{
    width:70vw;
    line-height: 1.3rem;
    text-align: center;
    font-size:1.6vw;
    
}

.uspdes{
        position:relative;
}

.uspimg{
    margin-top: 4vh;
    display: flex;
    align-items:top;
    justify-content:center;
}


.process{
    width:15vw;
    margin:2vw;
    text-align: center;
}

.processi{
    width:100%;
}

.processtxt{
    margin-top: 15px;
    font-weight:400;
    font-size: 1.4vw;
}

.process2{
    width:2vw;
    margin:1.3vw;
}

.arrows{
    position:absolute;
    top:2.6vw;
    left:9.5vw;
    display: flex;
}

.arrow_process{
   width:2vw;
    height:2vw;
    margin:8.5vw;
}

.areapage{
    position:absolute;
    top:180vh;
    width:100vw;
    height:100vh;  
display: flex;
align-items: center;
    justify-content: center
}

.areatxt{
    width:30vw;
    font-weight:700;
    font-size: 3.5vw;
    color: #00ACBF;
}
.areamap{
    width:33vw;
}

.map{
    top:0;
    width:40vw;
    margin-left: 1vw;
}


.questionpage{
    position:absolute;
    top:255vh;
    width:100vw;
    height:100vh;  
display: flex;
align-items: center;
    justify-content: center
}

.question{
    width:30vw;
    position:relative;
}

.question_txt{
    position:absolute;
    top:14vw;
    left:8vw;
    font-weight:400;
    font-size: 2.2vw;
    color: white;
}
.bg{
    width:30vw;
}

.questiontxt{
    width:50vw;
    margin-left:3vw;
}

.questiontxt_q{
    font-weight:400;
    font-size: 2.6vw;
    color: 00ACBF;
    margin:1vh 0;
}
.questiontxt_a{
    font-size: 1.5vw;
    color: #4c4c4c;
    margin-bottom: 3vh;
    
}

.footerpage{
    position:absolute;
    top:340vh;
    width:100vw;
    display: flex;
    flex-direction: column;
align-items: center;
    justify-content: center
}

.footertxt{
    width:70vw;
    height:20vw;
    padding-bottom: 40vh;
    font-size: 3vw;
    font-weight: 700;
    line-height: 5rem;
}
.catchphrase{
    width:100%;
    font-weight:700;
    font-size: 5vw;
    color: #00ACBF;
    text-align: right;
    line-height: 0.5rem;
}

.footer{
    width:100vw;
    height:45vh;
    background-color: #00ACBF;
    background-size: cover;
    position:absolute;
    bottom:0;
    font-size: 2vw;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   }

.footerhook{
    padding-top:3.5vw;
    line-height: 1.5rem;
    width:65vw;
    font-size: 1.8vw;
    color:white;
}

.legal{
    position:absolute;
    bottom:3vh;
    font-size:.5rem;
    right:3vh;
    font-weight: 400;
}

.legal a{
    padding-left: 1rem;
    text-decoration: none;
    color:white;

}


@media (max-width: 1000px) {
    
        .heropage{
            background-image: url("../images/heroimage_m.png");
            background-repeat: no-repeat;
            background-size: auto 100%;

        }
        .herotxt{
            width:70vw;
            font-size: 2.4rem;
        }

        .herodes{
            margin-top:-4vw;
            width:70vw;
            font-size: 1.6rem;
        }
    
        .form{
            margin-top:8vw;
            width:70vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .form input {
            font-size: 3.5vw;
            outline: none;
            height: 8vw;
            width:100%;
            border: 0;
            vertical-align: top;
            padding:5px;
            padding-left: 15px;
        }

            .button_scrollup{
            position: absolute;
            bottom:20vh;
            width:40px;
        }
    
        .usptxt{
            width:85vw;
            text-align: left;
            line-height: 2.7rem;
            font-size:3.3vw; 
            }
    
            .uspimg{
                width:80vw;
            margin-top: 4vh;
            display: flex;
            flex-direction: column;
            align-items:top;
            justify-content:center;
        }
    
            .process{
            width:80vw;
            height:22vw;
            margin:2vw;
            display: flex;
            align-items: center;
                
        }
            .processi{
            width:22vw;
        }

            .processtxt{
            margin-left:3vw;
            font-weight:400;
            font-size: 4vw;
            text-align: left;
        }
    
            .arrows{
                display:none;
            }
    
    
            .areapage{
                position:absolute;
                top:190vh;
                width:100vw;
                height:100vh;  
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center
            }

            .areatxt{
                width:80vw;
                font-size: 8vw;
            }
            .areamap{
                width:100vw;
            }

            .map{
                right:0;
                width:100vw;
                margin-left:10vw;
            }
    
            .questionpage{
                position:absolute;
                top:270vh;
                width:100vw;
                height:100vh;  
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center
            }

            .question{
                width:80vw;
            }

            .bg{
                display:none;
            }

            .question_txt{
                color: #00ACBF;
                position:absolute;
                top:-15vh;
                left:1vw;
                font-weight:700;
                font-size: 8vw;
            }
    
            .questiontxt_q{
                width:80vw;
                font-weight:400;
                font-size: 5vw;
                color: 00ACBF;
                margin:1vh 0;
                margin-left:-15vw;
            }
            .questiontxt_a{
                 width:80vw;
                line-height: 2.5rem;
                margin-left:-15vw;
                font-size: 3.5vw;
                color: #4c4c4c;
                margin-bottom: 3vh;
            }
    
            .footerpage{
                position:absolute;
                top:350vh;
                width:100vw;
                height:60vh;
                display: flex;
                flex-direction: column;
            align-items: center;
                justify-content: center
            }

            .footertxt{
                width:70vw;
                height:20vw;
                padding-bottom: 40vh;
                font-size: 3vw;
                font-weight: 700;
                line-height: 5rem;
            }
            .catchphrase{
                width:100%;
                font-weight:700;
                font-size: 8vw;
                color: #00ACBF;
                text-align: right;
                line-height: 3rem;
            }

            .footer{
                width:100vw;
                height:40vh;
                background-color: #00ACBF;
                background-size: cover;
                position:absolute;
                bottom:0;
                color:white;
                display: flex;
                flex-direction: column;
                align-items: center;

               }

            .footerhook{
                padding-top:3.5vw;
                line-height: 2.5rem;
                width:65vw;
                font-size: 3.5vw;
                color:white;
            }

            .legal{
                position:absolute;
                bottom:3vh;
                font-size:1rem;
                right:3vh;
                font-weight: 400;
            }

            .legal a{
                padding-left:3rem;
                text-decoration: none;
                color:white;

            }





    }
